*
{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    min-height: 100vh;
    background: #0c192c;
    text-align: center;
    /* opacity: 0; */
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* min-height: 100vh; */
    min-height: 90vh;
}

.container{
    display: inline-block;
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 0;
    /* background-position: center; */
    /* background: cover; */
}

img{
    width: 93px;
    height: 93px;
    border-radius: 50%;
    margin-bottom: 20px;
    
}

h1{
    margin-bottom: 20px;
    color: white;
    font-size: 16px;
}

.container2{
    display: inline-block;
    margin-top: -25px;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    /* margin-bottom: -200px; */
    /* padding-top:-1px ; */
}

#links{
    width: 300px;
  height: 260px;
  margin: 0 auto;
  
}

li{
    width: 50%;
    height: 53px;
    list-style-type: none;
    position: relative;
    /* justify-content: center; */
    /* display: block; */
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    transition: 0.9s;
    border-radius: 10px;
    margin-left: 380px;
    /* margin-right: 10px; */
    margin-bottom: 14px;
    gap: 10px;
    padding: 10px 80px;

    
} 


ul li a {
    text-decoration: none;
    color: rgb(242, 239, 239);
    font-weight: bold;
    align-content: center;
    font-size: 18px;
    /* text-transform: uppercase; */
    
   
  }

li:hover{
        border: 1px solid #f44336;
        background: #eb9696;
        /* text-decoration-color: #0c192c; */
}

li:hover a{
    color: #0c192c;
}

/* ul li a:hover{
    color: #0c192c;
} */


.img-h1 {
    justify-content: center;
    display: flex;
    align-items: center;
  }

/* footer{

} */
#footer {
    text-align: center;
    /* margin-top: -425px; */
    margin-bottom: 20px;
    padding-top: 20px;
    font-family: sans-serif;
    color: skyblue;
    font-size: 14px;
    animation: blink 1.8s linear infinite;
    bottom: 0;
    /* padding-bottom: 0%; */
}

@keyframes blink{
       50%{
        opacity: 0;
       }
       80%{
        opacity: 0.5;
       }
}
  /* --------------------- Background Animitions--------------------- */



.bubbles{
    position: relative;
    display: flex;
    
}

.bubbles span{
    /* position: relative; */
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    
}
.bubbles span:nth-child(1){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 1s;
    left: 25vw;
}

.bubbles span:nth-child(2){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 2.5s;
}

.bubbles span:nth-child(3){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 0.75s;
}

.bubbles span:nth-child(4){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 3s;
}
.bubbles span:nth-child(5){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 5s;
}

.bubbles span:nth-child(6){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 4.5s
}
.bubbles span:nth-child(7){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 3.2s
}

.bubbles span:nth-child(8){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 1.1s
}
.bubbles span:nth-child(9){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 3.4s
}

.bubbles span:nth-child(9){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 5s
}
.bubbles span:nth-child(11){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 4.5s
}

.bubbles span:nth-child(12){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 3.3s
}
.bubbles span:nth-child(13){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 1s;
}

.bubbles span:nth-child(14){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 2.5s;
}

.bubbles span:nth-child(15){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 0.75s;
}

.bubbles span:nth-child(16){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 3s;
}
.bubbles span:nth-child(17){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 3.6s;
}

.bubbles span:nth-child(18){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 0.9s
}
.bubbles span:nth-child(19){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 1.9s
}

.bubbles span:nth-child(20){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 3.9s
}
.bubbles span:nth-child(21){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 1s;
    left: 25vw;
}

.bubbles span:nth-child(22){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 2.5s;
}

.bubbles span:nth-child(23){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 0.75s;
}

.bubbles span:nth-child(24){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 3s;
}
.bubbles span:nth-child(25){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 5s;
}

.bubbles span:nth-child(26){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 4.5s
}
.bubbles span:nth-child(27){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 3.2s
}

.bubbles span:nth-child(28){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 1.1s
}
.bubbles span:nth-child(29){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 3.4s
}

.bubbles span:nth-child(30){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 5s
}
.bubbles span:nth-child(31){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 4.5s
}

.bubbles span:nth-child(32){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 3.3s
}
.bubbles span:nth-child(33){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 1s;
}

.bubbles span:nth-child(34){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 2.5s;
}

.bubbles span:nth-child(35){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 0.75s;
}

.bubbles span:nth-child(36){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 3s;
}
.bubbles span:nth-child(37){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 3.6s;
}

.bubbles span:nth-child(38){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 0.9s
}
.bubbles span:nth-child(39){
    background: #4fc3dc;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation-duration: 1.9s
}

.bubbles span:nth-child(40){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
    animation-duration: 3.9s
}

@keyframes animate
{
    0%
    {
        transform: translatey(100vh) scale(0.2);
    }
    100%
    {
        transform: translatey(-10vh) scale(0.3);
    }

}    


/* -------------------------------------*/

